# **Project for PFDA - Bank Transaction Dataset for Fraud Detection**
___

This notebook contains my analysis of a dataset of [Bank Transactions for Fraud Detection](https://www.kaggle.com/datasets/valakhorasani/bank-transaction-dataset-for-fraud-detection/data) which I sourced from Kaggle. 

**Author: Brianne McGrath**

___

### **Dataset Overview**
___

### **Imports**
___

In [3]:
#import necessary libraries 

import pandas as pd

### **Loading Data & Initial Inspection**
___

Load the Bank Transaction dataset.

In [ ]:
#loading dataset
df = pd.read_csv('bank_transactions_data_2.csv')

In [9]:
#reviewing first few rows of dataset
df.head()

,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IP Address,MerchantID,Channel,CustomerAge,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate
0,TX000001,AC00128,14.09,2023-04-11 16:29:14,Debit,San Diego,D000380,162.198.218.92,M015,ATM,70,Doctor,81,1,5112.21,2024-11-04 08:08:08
1,TX000002,AC00455,376.24,2023-06-27 16:44:19,Debit,Houston,D000051,13.149.61.4,M052,ATM,68,Doctor,141,1,13758.91,2024-11-04 08:09:35
2,TX000003,AC00019,126.29,2023-07-10 18:16:08,Debit,Mesa,D000235,215.97.143.157,M009,Online,19,Student,56,1,1122.35,2024-11-04 08:07:04
3,TX000004,AC00070,184.50,2023-05-05 16:32:11,Debit,Raleigh,D000187,200.13.225.150,M002,Online,26,Student,25,1,8569.06,2024-11-04 08:09:06
4,TX000005,AC00411,13.45,2023-10-16 17:51:24,Credit,Atlanta,D000308,65.164.3.100,M091,Online,26,Student,198,1,7429.40,2024-11-04 08:06:39

In [10]:
#checking a random sample of dataset
df.sample(5)

,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IP Address,MerchantID,Channel,CustomerAge,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate
451,TX000452,AC00119,54.61,2023-12-04 16:10:04,Debit,Milwaukee,D000079,39.163.103.27,M043,ATM,58,Engineer,160,1,7135.64,2024-11-04 08:07:19
297,TX000298,AC00110,34.74,2023-06-26 16:40:21,Debit,San Francisco,D000320,82.88.241.226,M072,ATM,56,Retired,24,1,6827.57,2024-11-04 08:11:03
2208,TX002209,AC00071,435.08,2023-07-24 16:01:27,Debit,San Francisco,D000513,109.211.212.135,M038,Online,55,Engineer,78,1,2103.41,2024-11-04 08:11:15
2293,TX002294,AC00322,141.37,2023-07-21 16:54:10,Debit,Denver,D000119,52.196.112.199,M026,Online,46,Engineer,77,1,1019.77,2024-11-04 08:11:41
1708,TX001709,AC00185,206.51,2023-12-18 17:09:29,Debit,Indianapolis,D000354,101.90.40.193,M046,ATM,51,Retired,275,1,3921.74,2024-11-04 08:07:22

In [11]:
#displaying information of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2512 entries, 0 to 2511
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TransactionID            2512 non-null   object
 1   AccountID                2512 non-null   object
 2   TransactionAmount        2512 non-null   float64
 3   TransactionDate          2512 non-null   object
 4   TransactionType          2512 non-null   object
 5   Location                 2512 non-null   object
 6   DeviceID                 2512 non-null   object
 7   IP Address               2512 non-null   object
 8   MerchantID               2512 non-null   object
 9   Channel                  2512 non-null   object
 10  CustomerAge              2512 non-null   int64
 11  CustomerOccupation       2512 non-null   object
 12  TransactionDuration      2512 non-null   int64
 13  LoginAttempts            2512 non-null   int64
 14  AccountBalance           2512 non-null   float64
 15  PreviousTransactionDate  2512 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 314.1+ KB

In [14]:
df.shape

(2512, 16)

In [15]:
df.isnull().sum()

TransactionID              0
AccountID                  0
TransactionAmount          0
TransactionDate            0
TransactionType            0
Location                   0
DeviceID                   0
IP Address                 0
MerchantID                 0
Channel                    0
CustomerAge                0
CustomerOccupation         0
TransactionDuration        0
LoginAttempts              0
AccountBalance             0
PreviousTransactionDate    0
dtype: int64

### **Data Cleaning**

In [16]:
df.duplicated().sum()

0

In [17]:
df['TransactionType'].unique()

array(['Debit', 'Credit'], dtype=object)