## Week Two Assignment: 
Create a jupyter notebook that has a nice plot of the temperature over time. 

Author: Brianne McGrath

In [20]:
# Importing necessary libraries
import pandas as pd
import matplotlib as plt

In [21]:
# Loading the weatherreadings dataset
df = pd.read_csv('weatherreadings1.csv')

In [22]:
# Reviewing 'dryBulbTemperature_Celcius' Data
temperature_data = df[['reportStartDateTime', 'dryBulbTemperature_Celsius']]
temperature_data.head()

         reportStartDateTime  dryBulbTemperature_Celsius
0  2024-10-02T16:15:00+00:00                   15.944444
1  2024-10-02T16:45:00+00:00                   15.777778
2  2024-10-02T17:00:00+00:00                   15.111111
3  2024-10-02T17:15:00+00:00                   14.277778
4  2024-10-02T17:30:00+00:00                   13.666667